table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
}

.td1 {
    width: 100px;            
}

.td2 {
    width: 400px;
}

.td3 {
    width: 500px;
}

.titleTR {
    background-color: #50617d;
    font-weight: bold;
    text-align: center;
}

.contentFrame {
    background-color: #7487a6;
}

.menuFrame {
    background-color: beige;
}